.wd-search {
    padding-left: 30px;
    background: url("https://www.svgrepo.com/show/157848/search.svg") no-repeat;
    background-size: 30px;
}
.search-input {
    width: 30%;
    font-size: 24px;
    margin-right: 30px;
}
.percent-input {
    font-size: 14px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 50px;
}
.wd-green {
    border-left: 4px solid green;
}
.wd-bg-color-green {
    background-color: green;
}

.assignment-details {
    font-size: 14px;
    padding-left: 75px;
}

.assignment-details2 {
    font-size: 14px;
}

.assignment-title {
    font-weight: bold;
    margin: 0;
}
.red-words{
    font-size: 14px;
    padding-left: 10px;
    color:red;
}
.wd-assignment-link {
    color: red;
    padding-left: 75px;
}
.wd-assignments-editor {
    font-size: 20px;
    width: 100%;
}

.wd-description {
    font-size: 14px;
    width: 100%;
    height: 250px;
}


.wd-grid-row {
    clear: both;
}

.wd-grid-col-half-page {
    width: 50%;
}

.wd-grid-col-third-page {
    width: 33%;
    float: left;
}

.wd-grid-col-two-thirds-page {
    width: 67%;
    float: left;
}

.wd-grid-col-left-sidebar {
    width: 20%;
    float: left;
}

.wd-grid-col-main-content {
    width: 60%;
    float: right;
}

.wd-grid-col-right-sidebar {
    width: 20%;
    float: left;
}
.square-container {
    width: 50%;
    height: 400px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
    padding-top: 25px;
    margin-bottom: 40px;
}